<!-- app/templates/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document Vault</title>
</head>
<body>
    <h1>Welcome to the Document Vault</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" name="file" id="file" accept=".txt, .pdf, .doc, .docx, .png, .jpg, .jpeg, .gif, .csv, .xlsx, .pptx, .zip, .rar, .tar.gz">
        <br>
        <input type="submit" value="Upload">
    </form>

    <h2>Uploaded Files:</h2>
    <ul>
        {% for file in files %}
            <li>
                {{ file }}
                <a href="{{ url_for('download_file', filename=file) }}" target="_blank">Download</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
