<!-- app/templates/uploads.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofzTGf5ceFurlXGO4G2FZDI3Sb2P5a5d+3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Uploaded Files</title>
</head>
<body>
    <h1>Uploaded Files</h1>

    <ul>
        {% for file in files %}
            <li>
                <i class="{{ file['icon'] }}"></i>
                {{ file['name'] }}
                <a href="{{ url_for('download_file', filename=file['filename']) }}" target="_blank">Download</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

